<h2>Task List</h2>
<span *ngIf="tasks.length === 0">There are no tasks.</span>
<ul *ngIf="tasks.length > 0">
  <li *ngFor="let task of tasks">
    <span>
      <label>Name:</label>
      <toggle-edit [model]="task.getName()"
                   (onSave)="task.save()"
                   (onCancel)="task.setName($event)">
        <span readonlyView>{{task.getName()}}</span>
        <input editView type="text" #editor
               [focusWhen]="editor.parentNode"
               [value]="task.getName()" (input)="task.setName($event.target.value)">
      </toggle-edit>
    </span>
    <p>{{task.getDescription() | async}}</p>
  </li>
</ul>
